<div id="particles-js">
  <div class="header panel-cover">
     <div style="margin:2em auto;width:200px; height:200px;border-radius:50%;overflow:hidden">
      <img src="{{ site.profilepic }}" alt="My Profile Photo">
    </div>
      <h1>
        <span class="site-title">{{ site.username }}</span>
     </h1>
        <h3 class="site-description">Studying at <a href="https://www.sheridancollege.ca/" style="text-decoration:none;color:#fff">Sheridan College</a> & aspiring to become a full-stack developer</h3>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.author.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://www.github.com/{{ site.author.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Resume" target="_blank" href="assets/DiwenZhang_Resume.pdf"><i class="icon1 fa fa-chain fa-lg">&nbsp;Resume</i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
